{% extends "base.html" %}
{% block title %}{{subject.code}}{% endblock title %}

{% block body %}

  <div class="text-end mt-2 me-3">
    hola {{user}}, {{user.profile}}
    <a href="{% url "logout" %}" class='text-decoration-none'>logout</a>
  </div>
  <div class="container">
    <div class="text-center ">
      <a href="{% url "subjects:subject-list" %}">Volver a Subject-list</a>
    </div>
    <h1 class="mb-5">{{subject.name}}</h1>
    {% for lesson in lessons %}
      <a href="{% url "subjects:lesson-detail" subject.code lesson.pk %}" class='text-decoration-none'>{{ lesson }}</a><br>
    {% endfor %}
    {% if user.profile.is_teacher %}
      <a href="{% url "subjects:add-lesson" subject.code %}" class='text-decoration-none btn btn-primary mt-3'>Añadir Tema</a>
      <a href="{% url "subjects:edit-marks" subject.code %}" class='text-decoration-none btn btn-primary mt-3'>Editar Notas</a>
    {% endif %}
  </div>

{% endblock body %}