{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Profile{% endblock title %}
{% block body %}
<div class="text-center">
  <a href="{% url "subjects:subject-list" %}">Volver a Subject-list</a>
</div>

<div class="container">
  {% thumbnail user.profile.avatar "200x200" crop="center" format="PNG" as avatar %}
  <img src="{{ avatar.url }}" alt="Avatar">
{% endthumbnail %}
  {{profile_user.profile}} {{profile_user.username}},
  <div>{{profile_user.first_name}} {{profile_user.last_name}}</div><br>
  {{profile_user.email}}
  <p>
    {{profile_user.profile.bio}}
  </p>
  {% if user == profile_user %}
    <a href="{% url "user:edit-profile" %}">Editar perfil</a>
    {% if user.profile.is_student %}
      <a href="{% url "user:user-leave" %}">Abandonar Lumino</a>
    {% endif %}
  {% endif %}
</div>
{% endblock body %}