{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}
{% block body %}
<div class="text-end mt-2 me-3">
  hola {{user}}, {{user.profile}}
  <a href="{% url "logout" %}" class='text-decoration-none'>logout</a>
</div>
<div class="container">
  <div class="text-center ">
    <a href="{% url "subjects:subject-list" %}" class='text-decoration-none'>Volver a Subject-list</a>
  </div>
  <a href="{% url "subjects:subject-detail" subject %}" class='text-decoration-none'>Volver atrás</a>
  <h1>{{lesson}}</h1><br>
  {{lesson.content}}
</div>
{% if user.profile.is_teacher %}
  <a href="{% url "subjects:edit-lesson" subject.code lesson.pk %}" class='text-decoration-none'>Editar lesson</a><br>
  <a href="{% url "subjects:delete-lesson" subject.code lesson.pk %}" class='text-decoration-none'>Eliminar lesson</a>
{% endif %}
{% endblock body %}